/* Apply custom style to the input field */
.quantity-input {
  width: 70px; /* Adjust the width as needed */
  text-align: center;
}

.trash {
  color: red;
  width: 50px;
}

.kitchen-container {
  display: flex;
  flex-flow: row;
  background-image: linear-gradient(to top, #dfa94b, #bb545e);
  justify-content: space-around;
}

.datatable-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
